@media only screen and (max-width: 700px) {



  /* Texto */
  h1.title {
    font-family: 'Lilita One', cursive;
    font-weight: 400;
    font-size: 40px;
    color: #E53170;
  }

  h2.secundary {
    font-family: "Marko One", serif;
    font-weight: 400;
    font-size: 35px;
    color: #d8cdcd;
  }

  h3.subtitle {
    font-family: "Nunito", sans-serif;
    font-weight: 400;
    font-size: 32px;
    color: #ffffff;
  }

  h4.parrafo {
    font-family: "Nunito", sans-serif;
    font-weight: 300;
    font-size: 20px;
    color: #000000;
    margin-left: 5px;
    margin-top: 5px;
    text-align: center;
  }

  h5.title_2 {
    font-family: 'Lilita One', cursive;
    font-weight: 400;
    font-size: 20px;
    color: #E53170;
    margin: 5px;
  }



  /* Botones */

  .bottons {
    display: none;
  }

  .mobile-menu {
    display: block;
  }

  button.ver_mas {
    background-color: #FF8906;
    border: none;
    border-radius: 16px;
    color: white;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-family: "Nunito", sans-serif;
    font-weight: 300;
    font-size: 20px;
  }

  .boton-regresar {
    height: 55%;
    margin-right: 16px; 
  }

  .icono-flecha {
    width: 60px; 
    height: auto;
    cursor: pointer; 
  }

  .my_primary {
    display: none;
  }

  .my_secundary {
    display: none;
  }

  .menu_bottons {
    font-family: "Nunito", sans-serif;
    font-weight: 200;
    font-size: 24;
    color: #000000;

  }

  .navbar-toggler {
    display: block;
  }

  #barraNavegacion {
    display: block;
  }


  .rect_image {
    display: none;
  }

  .fondo_circular {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 5rem;
    width: 100%;
    height: 300px;
    position: relative;
    z-index: 1;
    display: block;

  }

  .titulo_portafolio {
    display: block;
    font-size: 20px;
  }

  .titulos {
    background-color: #ffffff;
    width: 100%;
    height: 100px;
    color: #000000;
    font-family: "Marko One", serif;
    font-weight: 400;
    font-size: 30px;
  }

  .imagen_portafolio {
    display: block;
    width: 100%
  }

  .contacto_2_solo_web {
    display: none;
  }

  .progress-bar {
    background-color: #E53170 !important;
  }

  /* Div */

  .quien_soy {
    background-color: #ffffff;
    border-radius: 30px;
    border: 20px solid #ffffff;
    width: 100%;
    height: 630px;
    margin-top: 5px;
  }

  .escuela {
    background-color: #ffffff;
    border-radius: 30px;
    border: 20px solid #ffffff;
    width: 100%;
    height: 280px;
    justify-content: end;
    margin-top: 20px;
  }

  .hobbies {
    background-color: #ffffff;
    border-radius: 30px;
    border: 20px solid #ffffff;
    width: 100%;
    height: 350px;
    justify-content: center;
    margin-top: 20px
  }

  .experiencia {
    background-color: #ffffff;
    border-radius: 30px;
    height: 330px;
    margin: 0 auto 20px auto;
  }

  .contacto_2 {
    display: none;
  }

  .parrafos{
    background-color: #ffffff;
    height: 750px;
    color: #000000;
    font-family: "Nunito", sans-serif;
    font-weight: 300;
    font-size: 20px;
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
  }
  
  .contenido-parrafo{
    margin-top: 30px;
    margin-left: 15px;
    margin-right: 15px;
  }
  
  .links{
    font-weight: 400;
    margin-top: 22px;
    margin-left: 15px;
    margin-right: 15px;
  }

  /* Imagenes */
  img.principal {
    border-radius: 30px;
    border: 20px solid #F25F4C;
  }

  img.perfil {
    border: none;
    top: 20px;
    left: 30px;
    position: absolute;
    z-index: auto;
    height: 70px;
    width: 70px;
    display: none;
  }

  img.perfil-2 {
    border: none;
    top: 20px;
    left: 30px;
    position: absolute;
    z-index: auto;
    height: 70px;
    width: 70px;
    display: block;
  }

  img.photo {
    border-radius: 150px;
    border: 10px solid #ffffff;
    width: 160px;
    height: 160px;
  }

  img.photo_2 {
    width: 100%;
    height: 180px;
  }

  img.photo_3 {
    border-radius: 50%;
    aspect-ratio: 1/1;
    object-fit: cover;
    width: 100%;
    height: 169px;
  }



  .contacto_3_solo_mobil {
    display: block;
  }

  .name {
    display: none;
  }

  .mobile-name {
    display: block;
  }

  .habilidades_descripcion {
    display: none;
  }

  .Habilidades {
    position: relative;
    display: inline-block;
  }

  .hover-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(229, 49, 112, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: opacity 0.3s ease;
    border-radius: 50%;
  }

  .hover-text {
    color: white;
    font-size: 25px;
    font-weight: bold;
    text-align: center;
  }

  .herramientas,
  .aplicaciones {
    position: relative;
    display: inline-block;
  }


  .herramientas:hover .hover-overlay,
  .aplicaciones:hover .hover-overlay {
    opacity: 1;
  }

  .scroll-item {
    width: 250px;
  }
  
  .gallery-item {
    height: 250px;
  }
}