/* Add styles here */

@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lilita+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Marko+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

/* Texto */
h1.title{
  font-family: 'Lilita One', cursive;
  font-weight: 400;
  font-size: 40px;
  color:#E53170;
}
h2.secundary{
  font-family: "Marko One", serif;
  font-weight: 400;
  font-size: 35px;
  color:#d8cdcd;
}
h3.subtitle{
  font-family: "Nunito", sans-serif;
  font-weight: 400;
  font-size: 32px;
  color:#000000;
}

/* Botones */
button.my_primary {
  background-color: #FF8906;
  border: none;
  border-radius: 16px;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-family: "Nunito", sans-serif;
  font-weight: 200;
  font-size: 30px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
}
button.my_primary:hover{
  background-color: #333333;
  border: none;
  border-radius: 16px;
  color: #A7A9BE;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-family: "Nunito", sans-serif;
  font-weight: 200;
  font-size: 30px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
  /* onclick=location.href= */
}


button.my_secundary {
  background-color: #333333;
  border: none;
  border-radius: 16px;
  color: #A7A9BE;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-family: "Nunito", sans-serif;
  font-weight: 200;
  font-size: 30px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
  /* onclick=location.href= */
}
button.my_secundary:hover{
  background-color: #ff8b0659;
  border: none;
  border-radius: 16px;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-family: "Nunito", sans-serif;
  font-weight: 200;
  font-size: 30px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
  /* onclick=location.href= */
}

/* Top-de-pagina */
.rect_rojo {
  background-color: #F25F4C;
  padding: 0.5rem;
}
.rect_image {
  background-image: url("./src/img/paisaje_1.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 3rem;
}

/* Imagenes */
img.principal {
  border-radius: 30px;
}
img.perfil {
  border-radius: 100%;
}
